
bin/Debug/net7.0/PlugCleanTool.deps.json
bin/Debug/net7.0/PlugCleanTool.dll
bin/Debug/net7.0/PlugCleanTool.exe
bin/Debug/net7.0/PlugCleanTool.pdb
bin/Debug/net7.0/PlugCleanTool.runtimeconfig.json
bin/Release/net7.0/PlugCleanTool.deps.json
bin/Release/net7.0/PlugCleanTool.dll
bin/Release/net7.0/PlugCleanTool.exe
bin/Release/net7.0/PlugCleanTool.pdb
bin/Release/net7.0/PlugCleanTool.runtimeconfig.json
bin/Release/net7.0/publish/PlugCleanTool.deps.json
bin/Release/net7.0/publish/PlugCleanTool.dll
bin/Release/net7.0/publish/PlugCleanTool.exe
bin/Release/net7.0/publish/PlugCleanTool.pdb
bin/Release/net7.0/publish/PlugCleanTool.runtimeconfig.json
obj/
